.you {
    animation: shadowBurst 2s ease-in-out infinite;
}

@keyframes shadowBurst {
    0% {
        box-shadow: 0 0 0 0 var(--colorNeutralShadowKeyDarker);
    }
    100% {
        box-shadow: 0 0 0 20px transparent;
    }
}

.tierAvatars {
    background-color: var(--colorNeutralBackground1);
}

.tierAvatars:not(:last-child),
.tierIndicator:not(:nth-last-of-type(2)) {
    border-bottom: var(--strokeWidthThin) solid var(--colorNeutralBackground1Pressed);
}

.tierIndicator {
    align-items: center !important;
    border-right: var(--strokeWidthThin) solid var(--colorNeutralBackground1Pressed);
    display: flex !important;
    justify-content: center !important;
    min-height: 6rem !important;
}

.avatarGroup {
    padding: var(--spacingVerticalL) 0;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.avatar {
    margin-left: var(--spacingHorizontalS) !important;
    margin-bottom: var(--spacingVerticalS) !important;
}

.tierList {
    box-shadow: var(--shadow2);
}
