.you {
    animation: shadowBurst 2s ease-in-out infinite;
}

@keyframes shadowBurst {
    0% {
        box-shadow: 0 0 0 0 var(--colorScrollbarOverlay);
    }
    100% {
        box-shadow: 0 0 0 20px transparent;
    }
}

.tierAvatars {
    background-color: var(--colorNeutralBackground1Hover);
    border-bottom: 1px solid var(--colorNeutralBackground1Pressed);
}

.tierIndicator {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    min-height: 6rem !important;
}

.avatarGroup {
    padding: var(--spacingVerticalL) 0;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.avatar {
    margin-left: var(--spacingHorizontalS) !important;
    margin-bottom: var(--spacingVerticalS) !important;
}
