.courseCode {
    display: inline-block;
    margin-right: var(--spacingHorizontalS);
    padding: var(--spaceVerticalNone) var(--spacingHorizontalXS);
}

.dueDate {
    font-weight: var(--fontWeightRegular) !important;
}

.assignmentHeaderContent {
    gap: var(--spacingHorizontalS);
    display: flex;
    flex-direction: column;
}

.assignmentHeader {
    overflow-x: auto !important;
}

.uploadedTests,
.uploadedSolutions {
    list-style: none;
}

.editor {
    height: 500px;
}

.sidebarCards {
    display: flex;
    flex-direction: column;
    gap: var(--spacingVerticalL);
}

.tabList {
    margin-left: var(--spacingHorizontalS);
    overflow-x: auto;
}

.messageBar {
    margin: var(--spacingVerticalM) 0;
    max-width: 100%;
    white-space: pre-wrap !important;
    padding: var(--spacingVerticalS) var(--spacingHorizontalS);
}

.gutter {
    padding-top: var(--spacingVerticalS) !important;
    padding-bottom: var(--spacingVerticalXXXL) !important;
}

.gutterTop {
    padding-top: var(--spacingVerticalXXXL) !important;
    padding-bottom: var(--spacingVerticalXXXL) !important;
}

.massiveGap {
    display: flex;
    flex-direction: column;
    gap: var(--spacingVerticalXXXL);
}

.commitId {
    margin: var(--spacingVerticalXL) 0;
}

.commitId::before {
    content: "Submission ID: ";
    font-weight: var(--fontWeightBold);
}

.table {
    width: 100%;
}

.accordionHeaderContent {
    width: 100%;
}

.adminButton {
    flex-grow: 1;
    align-self: center;
    display: flex;
    justify-content: right;
    margin-right: var(--spacingHorizontalS);
}
