.header {
    display: flex;
    align-items: baseline;
    margin-bottom: var(--spacingVerticalL);
}


.info {
    display: flex;
}

.assignments {
    margin-left: 2%;
    margin-right: 2%
}

.title {
    margin-left: 13px;
}


.upcoming {
    width: 45%;
    margin-left: 2%;
    margin-right: 4%;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}
