.header {
    display: flex;
    align-items: baseline;
    margin-bottom: var(--spacingVerticalL);
}


.info {
    display: flex;
}

.assignments {
    margin-left: 2%;
    margin-right: 2%
}

.title {
    margin-left: 13px;
}


.upcoming {
    width: 45%;
    margin-left: 2%;
    margin-right: 4%;
}

.toolbar {
    padding: var(--spacingVerticalL) !important;
    gap: var(--spacingHorizontalL);
    background-color: color-mix(in srgb, var(--colorNeutralBackground1) 50%, transparent) !important;
    border-top: 2px solid var(--colorNeutralBackground3);
}
