.header {
    display: flex;
    align-items: baseline;
    margin-bottom: var(--spacingVerticalL);
    margin-left: 2%;
}

.banner {
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadiusXLarge);
    box-shadow: var(--shadow8);
    display: flex;
    height: 200px;
    justify-content: flex-start;
}

.info {
    display: flex;
}

.assignments {
    margin-left: 2%;
    margin-right: 2%;
}

.upcoming {
    width: 45%;
    margin-left: 2%;
    margin-right: 4%;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}
