.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacingVerticalXL);
}

.semibold {
    font-weight: var(--fontWeightSemibold);
}

.submit {
    align-self: flex-end;
}

.previewMarkdown {
    background-color: var(--colorNeutralBackground2);
    height: 50vh;
    overflow-y: auto;
}
