main.main {
    background: transparent !important;
    box-shadow: none !important;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacingVerticalXL);
}

.semibold {
    font-weight: var(--fontWeightSemibold);
}
