.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacingVerticalXL);
}

.semibold {
    font-weight: var(--fontWeightSemibold);
}

.submit {
    align-self: flex-end;
}
