.adminBadge {
    margin-right: var(--spacingHorizontalXS);
    margin-left: var(--spacingHorizontalS);
    position: relative;
    bottom: var(--spacingVerticalXXS);
}

.popoverFooter {
    display: flex;
    flex-direction: column;
    gap: var(--spacingVerticalS);
    margin-top: var(--spacingVerticalS);
    background-color: var(--colorNeutralBackground2);
}

.popoverButton {
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: flex-start !important;
}
