.tier-S, .tier-A, .tier-B, .tier-C, .tier-D, .tier-F, .tier-IDK {
    border-radius: 0.5rem;
    padding: var(--spacingHorizontalL) var(--spacingVerticalL);
    font-size: var(--fontSizeHero800);
    font-weight: var(--fontWeightSemibold);
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: var(--fontFamilyMonospace);
  }

  .tier-S {
    background-color: var(--colorPaletteDarkRedBackground2);
    color: var(--colorPaletteDarkRedForeground2);
  }

  .tier-A {
    background-color: var(--colorPaletteDarkGreenBackground2);
    color: var(--colorPaletteDarkGreenForeground2);
  }

  .tier-B {
    background-color: var(--colorPaletteMarigoldBackground2);
    color: var(--colorPaletteMarigoldForeground2);
  }

  .tier-C {
    background-color: var(--colorPaletteCornflowerBackground2);
    color: var(--colorPaletteCornflowerForeground2);
  }

  .tier-D {
    background-color: var(--colorPaletteLavenderBackground2);
    color: var(--colorPaletteLavenderForeground2);
  }

  .tier-F {
    background-color: var(--colorPaletteBerryBackground2);
    color: var(--colorPaletteBerryForeground2);
  }

  .tier-IDK {
    background-color: var(--colorPaletteBeigeBackground2);
    color: var(--colorPaletteBeigeForeground2);
  }
