* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  --accent-hue: 203;
}

.fui-FluentProvider {
  min-height: 100vh;
  background-color: var(--colorNeutralBackground3) !important;
  /* fake mica effect */
  background-image:
  linear-gradient(0deg, rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
  radial-gradient(at 51% 34%, hsla(126,87%,76%,1) 0px, transparent 50%),
  radial-gradient(at 90% 51%, hsla(214,95%,75%,1) 0px, transparent 50%),
  radial-gradient(at 87% 80%, hsla(239,90%,70%,1) 0px, transparent 50%),
  radial-gradient(at 98% 47%, hsla(203,69%,78%,1) 0px, transparent 50%),
  radial-gradient(at 49% 86%, hsla(336,69%,66%,1) 0px, transparent 50%),
  radial-gradient(at 95% 18%, hsla(60,68%,64%,1) 0px, transparent 50%),
  radial-gradient(at 67% 84%, hsla(357,66%,76%,1) 0px, transparent 50%);

  & main {
    background-color: var(--colorNeutralBackground1) !important;
  }
}
