.assignmentHeaderContent {
    gap: var(--spacingHorizontalS);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    justify-content: space-between;
}

.commitId::before {
    content: 'Submission ID: ';
    font-weight: var(--fontWeightBold);
}

.accordionHeader {
    width: 100%;
    flex-grow: 1;
}

.accordionHeaderContent {
    width: 100%;
}

.testCaseHeader {
    display: flex !important;
    align-items: center;
    gap: var(--spacingHorizontalS);
}

.uploadHeader {
    display: flex !important;
    justify-content: space-between;
}

.accordionHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dropZoneOverlay {
    background-color: color-mix(in srgb, var(--colorBrandBackground) 25%, transparent);
    z-index: 100;
    grid-area: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadiusLarge);
    text-align: center;
    border: 2px solid var(--colorBrandBackground);
}

.dropZoneText {
    background-color: var(--colorBrandBackground);
    border-radius: var(--borderRadiusCircular);
    color: var(--colorNeutralForegroundOnBrand);
    font-size: var(--fontSizeBase400) !important;
    font-weight: var(--fontWeightRegular) !important;
    padding: var(--spacingVerticalS) var(--spacingHorizontalL);
    animation:
        in var(--durationSlow) var(--curveDecelerateMax),
        during 3s var(--curveEasyEase) var(--durationSlow) infinite;
    box-shadow: var(--shadow28Brand);
}

@keyframes during {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.dropZoneChild {
    grid-area: 1 / 1;
}

.dropZone {
    display: grid;
}

.noFiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacingVerticalS);
    padding: var(--spacingVerticalXL) var(--spacingHorizontalL);
    text-align: center;
}
