.assignmentHeaderContent {
    gap: var(--spacingHorizontalS);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    justify-content: space-between;
}

.commitId {
    margin: var(--spacingVerticalXL) 0;
}

.commitId::before {
    content: 'Submission ID: ';
    font-weight: var(--fontWeightBold);
}

.accordionHeader {
    width: 100%;
    flex-grow: 1;
}

.accordionHeaderContent {
    width: 100%;
}

.testCaseHeader {
    display: flex !important;
    align-items: center;
    gap: var(--spacingHorizontalS);
}

.uploadHeader {
    display: flex !important;
    justify-content: space-between;
}

.accordionHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dropZoneOverlay {
    background-color: var(--colorNeutralBackgroundInverted);
    opacity: 0.3;
    z-index: 100;
    grid-area: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--colorNeutralForegroundInverted);
}

.dropZoneChild {
    grid-area: 1 / 1;
}

.dropZone {
    display: grid;
}
