.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacingVerticalXL);
}

.accentSelector {
    display: flex;
    gap: var(--spacingHorizontalM);
    align-items: center;
}

.color {
    color: var(--colorNeutralForeground2);
}
