* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: transparent;
}

html,
body {
    max-width: 100vw;

    &.dark {
        color-scheme: dark;
    }
}

.flex-wrap {
    display: flex;
    gap: var(--spacingVerticalL);
    flex-wrap: wrap;
}

.fui-FluentProvider {
    --background-intensity: 85%;
    --background-85: color-mix(
        in srgb,
        var(--colorNeutralBackground1) var(--background-intensity),
        transparent
    );
    --background-gradient: radial-gradient(
            at 51% 34%,
            hsla(126, 87%, 76%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 90% 51%, hsla(214, 95%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 87% 80%, hsla(239, 90%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 47%, hsla(203, 69%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 49% 86%, hsla(336, 69%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 18%, hsla(60, 68%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 67% 84%, hsla(357, 66%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 11% 10%, rgba(186, 247, 141, 1) 0%, transparent 50%),
        radial-gradient(at 15% 51%, rgba(131, 252, 191, 1) 0%, transparent 50%),
        radial-gradient(at 20% 84%, rgba(153, 180, 234, 1) 0%, transparent 50%);

    --background: var(--background-gradient);

    background: linear-gradient(0deg, var(--background-85) 0%, var(--background-85) 100%),
        var(--background), var(--colorNeutralBackground3);

    background-size: cover;
    background-position: center;

    & main {
        animation: slide-up 0.5s var(--curveDecelerateMax);
        min-height: calc(100vh - 60px);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#axios-loading-backdrop {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}
