.sessionChip {
    margin: var(--spacingVerticalNone) var(--spacingVerticalXS) var(--spacingHorizontalXS)
        var(--spacingHorizontalNone);
    color: var(--colorNeutralForegroundInverted);
    text-transform: uppercase;
    font-weight: var(--fontWeightBold);
    padding: 0 var(--spacingHorizontalXS);

    &.FALL {
        background-color: var(--colorPaletteDarkOrangeForeground2);
    }
    &.WINTER {
        background-color: var(--colorPaletteRoyalBlueForeground2);
    }
    &.SUMMER {
        background-color: var(--colorPaletteDarkGreenForeground2);
    }
}

.courseCard {
    text-decoration: none;
    --card-width: 300px;
    color: var(--colorNeutralForeground1);
}

.courseCard:hover {
    color: var(--colorNeutralForeground1Hover);
}

.courseCard:active {
    color: var(--colorNeutralForeground1Pressed);
}
.coursePreview {
    max-width: var(--card-width);
}

.courseTitle {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin-bottom: var(--spacingVerticalXS);
    max-width: calc(var(--card-width) - var(--spacingHorizontalM) * 2);
}

.badges {
    font-weight: var(--fontWeightSemibold);
    display: flex !important;
    align-items: center;
    gap: var(--spacingHorizontalS);
}

.courseHeader {
    row-gap: var(--spacingVerticalMNudge);
}

.role {
    border-radius: var(--spacingVerticalNone) !important;
    text-transform: uppercase;
}

.courseCard .viewMore {
    color: var(--colorNeutralForeground2);
}
.courseCard:hover .viewMore {
    color: var(--colorNeutralForeground2Hover);
}
.courseCard:active .viewMore {
    color: var(--colorNeutralForeground2Pressed);
}
