.sessionChip {
    margin: 0 5px 5px 0;
    color: var(--colorNeutralForegroundInverted);
    text-transform: uppercase;
    font-weight: var(--fontWeightBold);
    padding: 0 var(--spacingHorizontalXS);

    &.Fall {
        background-color: var(--colorPaletteDarkOrangeForeground2);
    }
    &.Winter {
        background-color: var(--colorPaletteRoyalBlueForeground2);
    }
    &.Summer {
        background-color: var(--colorPaletteDarkGreenForeground2);
    }
}

.courseCard {
    text-decoration: none;
}

.coursePreview {
    max-width: 300px;
}

.courseTitle {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin-bottom: var(--spacingVerticalXS);
    max-width: calc(300px - var(--spacingHorizontalM) * 2);
}

.badges {
    font-weight: var(--fontWeightSemibold);
    display: flex !important;
    align-items: center;
    gap: var(--spacingHorizontalS);
}

.courseHeader {
    row-gap: var(--spacingVerticalMNudge);
}

.role {
    border-radius: var(--spacingVerticalNone) !important;
    text-transform: uppercase;
}
